<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>redditr</title>
	<link rel="stylesheet" href="reddit.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="reddit.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="header">
		<span class="logo">redditr</span>
		<ul id="navigation">
			<li>hot</li>
			<li>new</li>
			<li>controversial</li>
			<li>top</li>
		</ul>
	</div>
	
	<script type="text/template" id="postTemplate">
		<li class="post" id="<%= id %>">
			<span class="thumbnail"><a href="<%= url %>"><img src="<%= thumbnail %>" alt="" /></a></span>
			<span class="content">
				<span class="title"><a href="<%= url %>"><%= title %></a></span>
				<ul class="post_actions">
					<% if (selftext) { print('<li class="text_button">Text</li>'); }; %>
					<% if (image_url) { print('<li class="image_button">Image</li>'); }; %>
					<li class="comments_button"><a href="<%= permalink %>">Comments</a></li>
				</ul>
				<% if (selftext) { print('<span class="text hidden"><%= selftext %></span>'); }; %>
				<% if (image_url) { print('<span class="image hidden"><img src="<%= image_url %>" alt="" /></span>'); }; %>				
			</span>
		</li>
	</script>
</body>
</html>