body, ul {
  margin: 0;
  padding: 0;
}

body {
   background: url(noise.png), #E9E8E5;
}

a {
   color: inherit;
   text-decoration: none;
}

#header {
   width: 100%;
   position: fixed;
   background: url(noise.png), -moz-linear-gradient( top, #D8D4CD, #BCB9B3);
   border-bottom: 1px solid #ADA89E;
   -moz-box-shadow:  0px -1px 0px rgba(255, 255, 255, 0.4) inset,
                     0px 0px 2px rgba(0, 0, 0, 0.4);
}

#header #search {
   -moz-appearance: none;
   border: none;
   color: #534D3F;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
   display: inline-block;
   margin-left: 50px;
   background-color: rgba(0, 0, 0, 0.05);
   -moz-border-radius: 5px;
   position: absolute;
   right: 10px;
   top: 10px;
   -moz-box-shadow:  0px 1px 0px rgba(255, 255, 255, 0.3),
                     0px 1px 0px rgba(0, 0, 0, 0.1) inset;
}

#header .logo {
   padding: 13px 0px 7px 0px;
   font: 24px "Myriad Pro";
   color: #534D3F;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
   display: inline-block;
   margin-left: 20px;
}

#posts {
   padding-top: 50px;
   list-style-type: none;
}

.post {
  overflow: auto;
  height: 100%;
  padding: 15px 15px;
   background: url(noise.png) #E8E7E2;
  background: url(noise.png), -moz-linear-gradient( top, #E8E7E2 60%, #DBDAD4);
  -moz-box-shadow:  0px -1px 0px rgba(0, 0, 0, 0.1) inset,
                    0px 1px 0px rgba(255, 255, 255, 0.6) inset;
}

.post.open + .post {
   -moz-box-shadow:  0px 1px 0px rgba(255, 255, 255, 1) inset;
}

.open {
   border-top: 1px solid #35312A;
   -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5) inset;
   background: url(noise.png), #7E7565;
}

.thumbnail img {
   -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
   display: inline-block;
   float: left;
   background: #fff;
   width: 70px;
   max-height: 70px;
   padding: 3px;
}

.content {
  display: block;
	margin-left: 100px;
	font: 20px "Myriad Pro", sans-serif;
}

.title {
  color: #676050;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.open .text .md,
.open .comment .md,
.open .title {
   color: #E9E8E5;
   text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.open .text .md,
.open .comment .md {
   border: 1px solid #565045;
   -moz-box-shadow:  0px 1px 0px rgba(255, 255, 255, 0.3),
                     0px 1px 0px rgba(255, 255, 255, 0.3) inset;
}
.image {
  padding-top: 20px;
/*  margin-left: 100px;*/
}

.image img {
  margin-top: 20px;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  padding: 3px;
  background-color: #fff;
  max-width: 90%;
}

.comment .md,
.text .md {
   margin-top: 20px;
   -moz-border-radius: 5px;
   -moz-box-shadow:  0px 1px 0px rgba(255, 255, 255, 0.5),
                     0px 1px 0px rgba(255, 255, 255, 0.5) inset;
   color: inherit;
   padding: 10px;
   font-size: 16px;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
   max-width: 600px;
   color: #676050;
   display: block;
   border: 1px solid #B7B4AE;
}

.md p {
   margin: 0;
}

.md p:not(:first-child) {
   margin-top: 15px;
}

.md p a {
   color: #75B5F9;
}

.md p a:hover {
   text-decoration: underline;
}

.md ul {
   margin-left: 20px;
}

.post_actions {
   margin-top: 2px;
}

.post_actions li {
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  color: #A19E97;
  font-size: 14px;
  display: inline;
  cursor: pointer;
  padding: 3px 5px 2px 5px;
}

.post_actions li:first-child {
   margin-left: -5px;
}

.open .post_actions li {
   color: #433E35;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
   
}

.post_actions li.clicked {
   background-color: rgba(0, 0, 0, 0.1);
   -moz-border-radius: 5px;
   -moz-box-shadow:  0px 1px 0px rgba(255, 255, 255, 0.3),
                     0px 1px 0px rgba(0, 0, 0, 0.1) inset;
}

.post_actions li:hover {
   background-color: rgba(0, 0, 0, 0.05);
   -moz-border-radius: 5px;
}

.post_actions li:not(:first-child) {
  margin-left: 10px;
}

.hidden {
  display: none;
}